body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}


.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 18px;
    justify-content: flex end;
    padding-left: 75px;
    padding-right: 75px;
}

#left-side {
    margin-right: auto;
    font-size: 30px;
}

.three-links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.first-section {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 50px;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.first-section-container {
    border: 1Px solid black;
    height: 400px;
    display: flex;
    flex-direction: column;
    width: 650px;
    gap: 10px;
}

img {
    display: flex;
    height: 400px;
    width: 650px;   
}

h1 {
    display: flex;
    font-size: 75px;
}

a {
    text-decoration: none;
    color: white;
}
h1, 
p {
    margin: 0;  
}

p {
    font-size: 30px;
}

button {
    font-size: 25px;
}